@import "tailwindcss";

@theme {
  --color-blue-logo: #007DE3;
  --color-orange-logo: #FE8C68;
  --color-red-secondary: #C0392B;
  --color-btn-home: #FE8822;
  --color-bg-menu-mobile: #E6938B;
  --color-bg-btn-menu-mobile: #EE7A6F;

  --color-gray-muted: #777777;
  --color-light: #F3F4F6;
  --color-bg-card: #F0E9E9;
  --color-dark: #1F1F1F;
  --color-text-secondary: #444444;

  --color-bg-input: #ECF0F1;
  --color-border-input: #BDC3C7;

  --font-roboto: 'Roboto', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: #F3F4F6;
  color: #444;
}

.dark body, .dark .menu-mobile, .dark .chatbot, .dark .faq {
  background-color: #444;
  color: #F0E9E9;
}

.dark .loader, .dark .about {
  background-color: #444;
}

.dark .testimonial {
  color: #1F1F1F;
}

.link-nav {
  position: relative;
}

.link-nav::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-blue-logo);
  transition: width 0.3s ease;
}

.link-nav:hover::after {
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--color-light) !important;
  background-color: var(--color-blue-logo) !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  top: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
}

.swiper-button-next {
  right: -25px !important;
}

.swiper-button-prev {
  left: -25px !important;
}
